*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(40, 97, 35);
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 90%;
    background-color: rgb(40, 97, 35);
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px ;
}

.espacio{
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(241, 211, 147, 0.993);
}

header{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    border-radius: 10px ;
}